.hotBar {
  height: 40px;
  width: 100%;
  border-top: 1px solid black;
  transition: 0.5s;
}
.blur {
  filter: blur(2px);
}
.container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  max-width: 1220px;
  margin: 0 auto;
}
.link {
  margin-right: 25px;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}
.link:hover {
  opacity: 1;
}
.dark {
  color: white;
}
.light {
  color: #1F1E1C;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .hotBar {
    display: none;
  }
}
