.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
}
.title {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 30px;
}
.light {
  color: black;
}
.dark {
  color: white;
}
.textConnect {
  margin: 6px;
}
.iconWrap {
  display: flex;
  justify-content: center;
  width: 250px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #5f6d92;
  border-radius: 4px;
  margin: 5px;
}
