.slider {
  display: flex;
  align-items: center;
  height: 740px;
  background-size: cover;
  z-index: -2;
  transition: 0.5s;
}
.blur {
  filter: blur(2px);
}
.overlay {
  position: absolute;
  height: 740px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}
.infoWrap {
  width: 1600px;
  margin: 0 auto;
  z-index: 2;
}
.title {
  margin: 0px;
  font-size: 38px;
  font-weight: 700;
  color: #F9F6F2;
  white-space: pre-line; 
}
.text {
  max-width: 500px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #A88966;
  border-radius: 7px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background-color: #8E6E4E;
}

@media only screen and (max-width: 1600px) {
  .infoWrap {
    width: 85%;
  }
}
@media only screen and (max-width: 1024px) {
  .slider {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }

  .text {
    max-width: 330px;
  }
}
@media only screen and (max-width: 768px) {
  .slider {
    height: 300px;
  }
  .overlay {
    height: 300px;
  }
  .text {
    max-width: 240px;
    font-size: 16px;
  }
  .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .infoWrap {
    width: 75%;
  }
  .text {
    display: none;
  }
  .slider {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .title {
    padding-bottom: 30px;
  }
}
