.container {
  padding: 0px 30px;
  filter: blur(none);
}
.basketMenu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  padding: 0px 15px 10px;
  background-color: white;
  transition: 0.5s;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
}
.basketInner {
  border-top: 1px solid black;
}
.open {
  opacity: 1;
  visibility: visible;
}
.title {
  font-size: 28px;
  padding: 20px 0px;
  margin: 0px;
}
.dark {
  color: white;
}
.light {
  color: #3b3b44;
}
.emptyImg {
  width: 80%;
  margin: 20px 30px;
}
.text {
  text-align: center;
}
.btn {
  position: absolute;
  bottom: 20px;
  width: 80%;
  height: 40px;
  margin: 15px;
  font-weight: 600;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: black;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: 0.5s;
}
@media only screen and (max-width: 420px) {
  .basketMenu {
    width: 70%;
  }
}
